@import "@xyflow/react/dist/style.css" layer(base);
@import "tailwindcss";

@layer base {
	* {
		box-sizing: border-box;
		border-color: var(--color-gray-300);
	}
	body {
		color: var(--color-gray-950);
		background-color: var(--color-gray-50);
	}
	code {
		font-family: "JetBrains Mono", sans-serif;
	}
	html,
	body,
	#app {
		min-height: 100%;
	}

	body {
		margin: 0;
		position: relative;
	}

	.root {
		isolation: isolate;
	}
}

html:active-view-transition-type(back) {
	&::view-transition-old(root) {
		animation: 300ms ease both slide-out-right;
	}
	&::view-transition-new(root) {
		animation: 300ms ease both slide-in-left;
	}
}
html:active-view-transition-type(forward) {
	&::view-transition-old(root) {
		animation: 300ms ease both slide-out-left;
	}
	&::view-transition-new(root) {
		animation: 300ms ease both slide-in-right;
	}
}

@keyframes slide-out-right {
	to {
		transform: translateX(min(30%, 240px));
		/* scale: 0.9; */
		filter: blur(10px);
		opacity: 0;
	}
}
@keyframes slide-in-left {
	from {
		transform: translateX(calc(-1 * min(30%, 240px)));
		/* scale: 1.05; */
		/* filter: blur(10px); */
		opacity: 0;
	}
}
@keyframes slide-out-left {
	to {
		transform: translateX(calc(-1 * min(30%, 240px)));
		/* scale: 1.05; */
		filter: blur(10px);
		opacity: 0;
	}
}
@keyframes slide-in-right {
	from {
		transform: translateX(min(30%, 240px));
		/* scale: 0.9; */
		/* filter: blur(10px); */
		opacity: 0;
	}
}
